{% for type, message in app.flashes %}

  {% if type == 'warning' %}
    <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:text-gray-900 dark:bg-orange-400" role="alert">
    {% elseif type == 'danger' %}
      <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-red-700 dark:text-gray-100" role="alert">
      {% elseif type == 'success' %}
        <div class="p-4 mb-4 text-sm text-green-800 bg-green-400 rounded-lg dark:text-gray-900 dark:bg-green-400" role="alert">
        {% else %}
          <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-blue-700 dark:text-blue-100" role="alert">
          {% endif %}
          {{ message | join('. ') }}
        </div>
      {% endfor %}
