{% extends 'base.html.twig' %}

{% block title %}Hello ArtistController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello LibTrack! ✅</h1>

    <table>
        <thead>
            <th>
                <td>Name</td>
                <td>Release</td>
            </th>
        </thead>
        <tbody>
            {% for artist in artists %}
            <tr>
                <td>
                    {{ artist.name }}
                </td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
